<template>
    <div class="test">
        {{fullName}}
        {{msg}}
    </div>
</template>

<script>
export default {
    data(){
        return{
            title: 'Hola vue js',

            user:{
                firstName:'Joe',
                lastName:'McMillans'
            },
            myhtml:'<h3>Hola user</h3>',
            showname:true,
            tasks: [
                {title:'eat'},
                {title:'dinnner'},
            ]
        }
    },
    methods:{
        saludar(name){
            alert("Hello "+name)
        },
        typing(e){
            console.log(e.target.value)
        }
    },
    computed:{
        fullName(){
            return this.user.firstName+" "+this.user.lastName;
        }
    },
    props:{
        msg:{
            type:String,
            default:"Mensaje por defecto"
        }
    }
}
</script>


<style>
    .test {
        background-color:aqua;
    }

</style>