<template>
    <div class="user">
        <h1>User component</h1>
        <ul>
            <li v-for="user in users" v-bind:key="user">
                {{user.name}}--{{user.email}}
                <button v-on:click="deleteUser(user)">
                    X
                </button>
            </li>
        </ul>
        <form v-on:submit.prevent="addUser">
            <input type="text" v-model="newUser.name" placeholder="Nombre">
            <input type="email" v-model="newUser.email" placeholder="Email">
            <button type="submit">Add</button>
        </form>
    </div>    
</template>

<script>
export default {
    data(){
        return{
            users:[
                {
                    name:'Joe',
                    email:'joe@gmail.com',
                    contacted:false
                },
                {
                    name:'Julio',
                    email:'julio@gmail.com',
                    contacted:false
                },
                {
                    name:'Jose',
                    email:'jose@gmail.com',
                    contacted:true
                }
            ],
            newUser:{}
        }
    },
    methods:{
        addUser(){
            this.users.push(this.newUser)
            this.newUser={}
        },
        deleteUser(user){
            this.users.splice(this.users.indexOf(user),1);
        },
        created(){
            this.$http.get('https://jsonplaceholder.typicode.com/users')
            .then(res=>this.users=res.body)
        }
    },
    mounted(){
        this.created();
    }
}

</script>

<style>
    .user{
        background-color: blue;
        color: white;
        padding: 20px;
    }
</style>